* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
    width: 100%;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #F3F5FD;
}

.topdiv {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: blue;
}

.logodiv {
    height: 100%;
}

.logoimg {
    height: 100%;
    padding: 5%;
}

.servicesdiv {
    height: 80%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.2%;
    display: flex;
    flex-direction: column;
    background-color: #F3F5FD;
}

.searchdiv {
    position: absolute;
    top: 7%;
    width: 50%;
    left: 25%;
    border-radius: 25px;
    background-color: #F3F5FD;
    height: 8%; 
    display: flex; 
    align-items: center; 
}

.form {
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;
    border: 0;
    border-radius: 25px;
}

.searchbar {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    font-size: 15px;
    box-sizing: border-box;
}

.divrow {
    width: 100%;
    height: 33.3333%;
    display: flex;
    flex-direction: row;
}

.divelement {
    border-radius: 5px;
    background-color: white;
    width: calc(100% / 3);
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profimages {
    height: 50%;
    padding-bottom: 3%;
}
.marginbottom0{
    margin-bottom: 0;
    padding-bottom: 0;
}
